@charset "utf-8";
:root {
    --color-fore:#000000;
    --color-back:#FFFFFF;
    --color-fore-select:#FFFFFF;
    --color-back-select:#4488FF;
    --color-a-link:#0000AA;
    --color-a-visited:#AA00AA;
    --color-a-hover:#0000FF;
    --color-a-active:#00FFFF;
    --color-a-focus:#0000FF;
}
.color-scheme, 
.color-scheme button,
.color-scheme select,
.color-scheme input,
.color-scheme textarea,
.color-scheme select option,
.color-scheme select option:hover,
.color-scheme select option:focus
{
    color: var(--color-fore);
    background-color: var(--color-back);
}
::selection
{
    color: var(--color-fore-select);
    background-color: var(--color-back-select);
}
.color-scheme a:link {color:var(--color-a-link);}
.color-scheme a:visited {color:var(--color-a-visited);}
.color-scheme a:hover {color:var(--color-a-hover);}
.color-scheme a:active {color:var(--color-a-active);}
.color-scheme a:focus {color:var(--color-a-focus);}

